.form {
    background-color: rgb(202, 123, 50);
    color: #fff;
    height: 125px;
    text-align: center;
    padding-top: 5px;

    & h1 {
        margin: 1em;
        font-size: 28px;
        font-weight: 900;
    }
}